/* -------------------- general  ---------------------*/


/* -------------------- header  ---------------------*/
header{
    height: 3.125rem;
    /* background-color: white; */
}

/* -------------------- page-bottom  ---------------------*/
.page-bottom{
    height: calc(100vh - 3.125rem);
}

/* -------------------- aside  ---------------------*/

aside{
    height: calc(100vh - 3.125rem);
}

/* -------------------- main  ---------------------*/
